body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  width: 100vw;
  z-index: 50;
}

.navbar {
  background: #FFFFFF;
  padding: 1vh 5vw 1vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__h3 {
  font-size: 1em;
  font-weight: 600;
  color: #335576;
  margin: 0;
}
.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__list__item {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
  margin-left: 1.2vw;
}
.navbar__list__item:hover {
  background: #DB7A4E;
  color: #FEFAF5;
  transition: 0.5s ease-in-out;
}
.navbar__list__item--link {
  text-decoration: none;
  color: black;
}
.navbar__list__item--current {
  border-bottom: 2.5px solid #DB7A4E;
  padding-bottom: 0.55vh;
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar__h3 {
    font-size: 1.75rem;
  }
  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 0;
  }
  .navbar__list__item {
    font-size: 1.2rem;
    margin-bottom: 1vh;
  }
}
.footer {
  background: #FEFAF5;
  padding: 5vh 5vw 5vh 10vw;
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer__h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #335576;
}
.footer__p {
  font-size: 0.85rem;
  font-weight: 500;
  color: #335576;
}
.footer__p--small {
  font-size: 0.6rem;
  font-weight: 300;
  color: #DB7A4E;
  text-transform: uppercase;
}
.footer__p--margin {
  margin-top: 0;
}
.footer__img {
  width: 2vw;
  margin-right: 2.5vw;
}
.footer__img--facebook {
  width: 1.2vw;
}

.hours__container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hours__section {
  margin-right: 4vw;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  flex-wrap: nowrap;
}
.social__images {
  position: relative;
  top: auto;
  bottom: 1.2vw;
  left: auto;
  right: auto;
}

.main {
  height: 80vh;
  overflow: hidden;
  margin-top: 6.5vh;
}
.main__h1 {
  padding: 2.25vh 10vw 2.25vh 10vw;
  font-size: 4rem;
  font-weight: 800;
  color: #FEFAF5;
}

.background-img {
  width: 100%;
  background-position: center;
  position: relative;
  top: -90vh;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: -20;
}

.cards-destination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
  z-index: 40;
  width: 100%;
  height: 100%;
}

.card-destination {
  background: #FFFFFF;
  padding: 0 1vh;
  width: 20vw;
  height: 42vh;
  border-radius: 5px;
  border: none;
  overflow: none;
  box-shadow: 0;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.card-destination__h3 {
  padding-bottom: 0.25vh;
  border-bottom: 2px solid black;
  width: 95%;
  text-align: center;
}
.card-destination__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 2vh;
  margin: 0 auto;
  padding-bottom: 2.3vh;
  padding-left: 0;
}
.card-destination__list__item {
  background: #FEFAF5;
  padding: 2.3vh 3vw;
  width: 100%;
  text-align: center;
}
.card-destination__list__item:hover {
  background: #DB7A4E;
  color: #FEFAF5;
  transition: 0.5s ease-in-out;
}

.hero {
  background: #FEFAF5;
  padding: 2.23vh 5vw 2.23vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 6.75vh;
}
.hero--left {
  width: 46%;
  margin-right: 1.6vw;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 5vh;
  row-gap: 2.2vh;
}
.hero__h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #335576;
  margin-bottom: 0;
}
.hero__p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #335576;
}
.hero__button {
  background-color: #DB7A4E;
  color: #FEFAF5;
  border: none;
  border-radius: 20px;
  width: 25%;
  padding: 1vh 2vw;
}
.hero__button--link {
  cursor: pointer;
}
@media (min-width: 820px) and (max-width: 1200px) {
  .hero__button {
    width: 30%;
  }
}
@media (min-width: 750px) and (max-width: 820px) {
  .hero__button {
    width: 40%;
  }
}
.hero__img {
  width: 40%;
}
@media (min-width: 900px) and (max-width: 1200px) {
  .hero__img {
    width: 45%;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .hero__img {
    width: 50%;
  }
}

@media (min-width: 350px) and (max-width: 750px) {
  .hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 3.5vh;
  }
  .hero--left {
    padding-top: 2vh;
    order: 2;
    width: 80%;
  }
  .hero__img {
    order: 1;
    width: 80%;
    position: relative;
    top: 2vh;
  }
  .hero__h3 {
    margin-top: 1vh;
  }
  .hero__button {
    width: 20vw;
  }
  .hero__button--link {
    align-self: center;
  }
}
@media (max-width: 400px) {
  .hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 3.5vh;
  }
  .hero--left {
    padding-top: 2vh;
    order: 2;
    width: 100%;
  }
  .hero__img {
    order: 1;
    width: 100%;
    position: relative;
    top: 2vh;
  }
  .hero__h3 {
    margin-top: 1vh;
  }
  .hero__button {
    width: 30vw;
  }
  .hero__button--link {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .hero {
    margin-top: 20vh;
  }
}
.recommendations {
  background: #FFFFFF;
  padding: 5vh 10vw 10vh 10vw;
}
.recommendations__h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #335576;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}

.card {
  width: 20vw;
  height: 40vh;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.card__img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.card:hover {
  border: 3px solid #DB7A4E;
  transition: 0.5s ease-in-out;
}
.card__h3 {
  position: relative;
  top: auto;
  bottom: 18%;
  left: 65%;
  right: auto;
  z-index: 1;
  color: #FEFAF5;
}
.card__link {
  text-decoration: none;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.card__link:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */