@use './global' as *;
@use './variables' as *;
@use './mixins' as *;


.main {
    height: 80vh;
    overflow: hidden;
    margin-top:6.5vh;
    &__h1 {
        padding: 2.25vh 10vw 2.25vh 10vw;
        @include font($color:$primary-color, $size: 4rem, $weight:800);
    }
}

.background-img {
    width:100%;
    background-position: center;
    @include position($top:-90vh);
    z-index: -20;
}


.cards-destination-section {
    @include flex($justify:center);
    column-gap: 3vw;
    @include position($pos:absolute, $bottom:0);
    z-index: 40;
    width: 100%;
    height: 100%;
}

.card-destination {
    @include bg-padding($padding:0 1vh);
    @include card($height:42vh, $border:none, $shadow:0, $overflow:none);
    @include flex($justify:normal, $direction:column);
    &__h3 {
        padding-bottom: 0.25vh;
        border-bottom: 2px solid black;
        width:95%;
        text-align: center;
    }
    &__list{
        list-style-type: none;
        @include flex($direction:column);
        row-gap: 2vh;
        margin: 0 auto;
        padding-bottom:2.3vh;
        padding-left:0;
        &__item {
            @include bg-padding($bg:$primary-color, $padding:2.3vh 3.0vw );
            width:100%;
            text-align: center;
            &:hover {
                @include button-hover;
            }
        }
    }
}


@media (max-width:900px) {
    .background-img {
        height:200vh;
    }
    .cards-destination-section {
        flex-direction: column;
        row-gap:5vh;
        top:5vh;
    }
    .card-destination{
        width: 60vw;
        height:15vh;
        
        &__list {
            flex-direction: row;

        }
    }

}

@media (min-width:500px) and (max-width:900px){
    .main {
        height:130vh;
        
    }
    .card-destination__list__item{
        padding: 1vh 1vw;
    }
}

@media (min-width:200px) and (max-width:500px){
    .main {
        height:180vh;
        margin-top:20vh;
    }
    .background-img {
        height: 240vh;
    }
    .cards-destination-section{
        top:60vh;
    }
    
    .card-destination {
        height: 50vh;
        &__list {
            flex-direction: column;
        }
    }

}