@use './variables' as *;
@use './mixins' as *;

body {
    font-family: $font;
    box-sizing: border-box;
    margin: 0;
}

header {
    @include position($pos:fixed, $top:0);
    width:100vw;
    z-index: 50;
}

.navbar {
    @include bg-padding;
    @include flex($justify:space-between);


    &__h3{
        @include font($size:1em, $weight:600);
        margin: 0;
    }
    &__list {
        list-style: none;
        @include flex($justify:space-between, $align:normal);
        &__item {
            @include font($size:0.75rem, $weight:500, $color:black);
            margin-left: 1.2vw;
            &:hover {
                @include button-hover;
            }

            &--link{
                text-decoration: none;
                color:black;
            }
            &--current {
                border-bottom: 2.5px solid $underline-color;
                padding-bottom: 0.55vh;
            }
        }
    }
}

@media( max-width:500px){
    .navbar{
        @include flex($direction:column, $justify:center);
        &__h3{
            font-size: 1.75rem;
        }
        &__list {
            @include flex($direction:column, $justify: center);
            padding-left:0;
            &__item {
                font-size: 1.2rem;
                margin-bottom:1vh;
            }
        }
    }
}



.footer {
    @include bg-padding($bg: $primary-color, $padding:5vh 5vw 5vh 10vw);
    @include flex($align:normal);
    @media (max-width:900px){
        @include flex($direction:column);
        row-gap: 5vh;
        text-align: center;
    }
    &__h3 {
        @include font($size:1.25rem, $weight:600);
    }
    &__p{
        @include font($size:0.85rem, $weight:500);
        &--small{
            @include font($size:0.6rem, $color:$underline-color);
            text-transform: uppercase;
        }
        &--margin {
            margin-top:0;
        }
    }
    &__img {
        width: 2vw;
        margin-right:2.5vw;
        @media (max-width:900px){
            margin-left:2.5vw;
            width:20px; 
        }
        &--facebook {
            width: 1.2vw;
            @media (max-width:900px){
                width:12px; 
            }
        }
    }
}

.hours {
    &__container {
        @include flex($justify:space-between, $align:normal);
        @media (max-width:900px) {
            @include flex($direction:column);
            row-gap:2vh;
        }
    }
    &__section {
        margin-right: 4vw;
        @media (max-width:900px){
            margin-right:0;
        }
    }

}

.social {
    @include flex($direction: column, $justify:space-between, $align:normal);

    &__images{
        @include position($bottom:1.2vw);
    }
}