@use './variables' as *;
@use './mixins' as *;


.hero {
    @include bg-padding($bg:$primary-color, $padding: 2.23vh 5vw 2.23vh 10vw );
    @include flex($justify: space-between, $align: space-between);
    margin-top: 6.75vh;
    &--left {
        width:46%;
        margin-right:1.6vw;
        @include flex($direction: column, $justify:normal, $align:normal);
        padding-top: 5vh;
        row-gap: 2.2vh;
    }

    &__h3 {
        @include font($size:2rem, $weight:700);
        margin-bottom:0;
    }

    &__p {
        @include font($size:0.8rem);
    }

    &__button {
        @include button;
        &--link{
            cursor: pointer;
        }
    }

    &__img {
        width:40%;
    }
}