@mixin position($pos:relative, $top:auto, $bottom:auto, $right:auto, $left:auto) {
    position: $pos;
    top: $top;
    bottom:$bottom;
    left:$left;
    right:$right;
}

@mixin animate($scale:1.0){
    transform: scale($scale);
    transition: $trans;
}


@mixin flex($align: center, $justify:space-around, $direction:row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    flex-wrap:$wrap;
}


@mixin font($size:4em, $weight: 300, $color:$primary-text) {
    font-size:$size;
    font-weight:$weight;
    color: $color;
}

@mixin button-hover {
    background: $underline-color;
    color: $primary-color;
    transition: $trans;
}

@mixin button {
    background-color: $underline-color;
    color:$primary-color;
    border: none;
    border-radius: 20px;
    width: 25%;
    padding: 1vh 2vw;
}


@mixin card($height:40vh, $border:1px solid rgba(0,0,0,0.2),$radius: 5px, $shadow:0px 4px 4px rgba(0, 0, 0, 0.2), $overflow:hidden) {
    width:20vw;
    height: $height;
    border-radius: $radius;
    border: $border;
    overflow: $overflow;
    box-shadow: $shadow;
}